################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DWHDarnitsa/DWHDarnitsa/bin/Debug
/DWHDarnitsa/DWHDarnitsa/obj/Debug
/DWHDarnitsa/.idea
/DWHDarnitsa/DWHDarnitsa/DWHDarnitsa.dbmdl
/.idea/dataSources/193135b1-45c1-4b4d-9a75-83a500c185fe/storage_v2/_src_/database/master.YiqNvw/schema
/.idea/dataSources/193135b1-45c1-4b4d-9a75-83a500c185fe/storage_v2/_src_/database
/.idea/dataSources
/.idea
