################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DWHDarnitsa/DWHDarnitsa/bin/Debug
/DWHDarnitsa/DWHDarnitsa/obj/Debug
/DWHDarnitsa/.idea
